<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/home_page.css">
</head>
<body>
  <div class="outerContainer">
    <div class="stage">
      <div class="stage-styling">
      </div>>
    </div>
    <div id="container">
      <div id="item">
jhgjhghj
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="js/dragging.js"></script>
</html>